.addReviewContainer {
    /* border: 2px solid red; */
    
    max-width: 60%;
    margin: auto;

    margin-top: 145px;
    margin-bottom: 6em;
}

.addReviewContainer #reviewTitle, #reviewText, #username {
    padding: 0.5em 0.5em;
}

.addReviewContainer form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.addReviewContainer form #reviewTitle {
    font-size: 1.3em;
    font-weight: 700;
}

.addReviewContainer form #reviewText {
    width: 100%;
    resize: none;
}

.addReviewContainer form button {
    padding: 1em 0;
}

.addReviewHomeBtn button {
    padding: 1em 0;
    width: 100%;
    margin-top: 1em;
}