.registerContainer {
    max-width: 30%;
    margin: auto;

    margin-top: 240px;
    
}

.registerContainer form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    input {
        padding: 1em;
    }

    button {
        padding: 1em 0;
    }
}

.linkToLoginRegister {
    /* border: 2px solid; */
    padding: 1em;
    text-align: center;
}